.wrapper-Dashboard {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  width: 100%;
  gap: 2rem;
}

.wrapper-graphics {
  display: grid;
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  margin-top: 1rem;
}

.chart-card {
  grid-area: 1 / 1 / 2 / 2;
}
.wrapper-bills {
  grid-area: 1 / 2 / 2 / 3;
}
.wrapper-LastActivity {
  grid-area: 2 / 1 / 3 / 3;
}
