.wrapper-Dashboard {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  width: 100%;
  gap: 2rem;
}

.wrapper-graphics {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 2rem;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .wrapper-Dashboard {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  .wrapper-Dashboard {
    padding: 1rem;
  }
}
