.wrapper-auth_login {
  display: flex;
  flex-direction: row-reverse;
}

.wrapper-auth_reg {
  display: flex;
}

.authForms,
.authForms-transition {
  padding: 3rem 1rem;
  flex: 0 0 50%;
  justify-items: center;
  align-content: center;
}

.authForms-transition {
  width: 100vh;
  background-image: linear-gradient(
    to bottom,
    #00bda9,
    #46c5b5,
    #67ccc0,
    #83d3ca,
    #9ddad4
  );
  border-radius: var(--radius-6);
}

.authForms-transition h2,
.authForms-transition p,
.authForms-transition button {
  color: white;
}
.transition-login,
.transition-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.transition-login > button,
.transition-reg > button {
  border: 1px solid white;
  border-radius: var(--radius-6);
  padding: 10px;
  transition: transform 300ms 50ms;
}

.transition-login > button:hover,
.transition-reg > button:hover {
  transform: scale(1.05);
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.459);
}
