.login-content > h2,
.reg-content > h2 {
  text-align: center;
  margin-bottom: 30px;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.authForm > a {
  color: #00bda9;
}

.authForm > button[type="submit"] {
  padding: 0.5rem 7rem;
  align-self: center;
  width: fit-content;
  border-radius: var(--radius-6);
  background: linear-gradient(90deg, #9ddad4, #00bda9);
  cursor: pointer;
  transition:
    box-shadow 500ms 50ms,
    transform 300ms 50ms;
}

.authForm > button[type="submit"]:hover {
  transform: scale(1.05);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.459);
}

.field {
  position: relative;
  width: 100%;
}

.field > input {
  padding: 0.7rem;
  display: block;
  width: 100%;
  color: black;
  background: transparent;
  border: 1px solid silver;
  border-radius: var(--radius-6);
}

.field input:-webkit-autofill,
.field input:-webkit-autofill:hover,
.field input:-webkit-autofill:focus,
.field input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #000;
  transition: background-color 9999s ease-in-out 0s;
}

.field > input:hover {
  border: 1.5px solid rgb(168, 168, 168);
}

.field > input:focus {
  border-color: #666;
}

.field input:focus + label,
.field input:not(:placeholder-shown) + label {
  top: 0;
  left: 10px;
  font-size: 12px;
  color: #333;
}

.field > label {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  pointer-events: none;
  transition: 0.25s ease;
  background: #fff;
  padding: 0 6px;
  font-size: 14px;
}

.checkbox {
  color: black;
  font-weight: 500;
}
