/* Указываем box sizing */
*,
*::before,
*::after {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: black;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  background-color: #f5f6fa;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img,
a {
  display: block;
  height: 100%;
  width: 100%;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.main-conteiner {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.router-link {
  text-decoration: none;
  color: inherit;
}
