.footer {
  padding: 30px 5rem;
  width: 100%;
  background-color: var(--theme-white);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.copyright {
  align-self: end;
}

.social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social .imageBox {
  width: 3rem;
}
