.header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
}

.header-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(10, 10, 10, 1);
  transition: text-shadow 500ms 50ms;
}

.header-title:hover {
  text-shadow: -1px 3px 4px rgba(0, 0, 0, 0.3);
}

.header_search {
  position: relative;
  display: flex;
  align-items: center;
}

.header_search input {
  padding: 9px 17px 9px 38px;
  width: 400px;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(123, 123, 125, 1);
  background-color: rgba(245, 246, 250, 1);
  border: 1px solid rgba(68, 68, 69, 1);
  border-radius: var(--radius-6);
}

.header_search::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("/icons/searchWhite.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}

.header_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
