.container-infoBlock {
  padding: 60px;
  width: 100%;
  background-color: #d4edea;
}

.content-infoBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.title {
  max-width: 400px;
  display: flex;
  flex: 0 1 400px;
  flex-direction: column;
  gap: 10px;
}

.title h2 {
  letter-spacing: 0.5px;
}

.title p {
  font-style: italic;
  letter-spacing: 0.5px;
}

.imageBox__logo img {
  max-width: 70vh;
  height: auto;
  object-fit: cover;
}
